@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Mini Framework */ 

html,body{
    height: 100%;
}

.max-width{
    width: 100%;
    min-height: 100vh;
}

.bg{
    background: url('image/bg.png') no-repeat;
    background-size: cover;
    height: auto;
}

.conteiner{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Menu */ 

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.logo{
    background: url('image/logo.png') no-repeat;
    background-size: contain;
    width: 150px;
    height: 80px;
    position: relative;
    z-index: 9;
}

/* Tamanho de Fontes */

.text-gd{
    font-size: 64px;
}

.text-md{
    font-size: 36px;
}

.font-pq{
    font-size: 14px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}

/* Cores de Texto */

.color-blue{
    color: #0039a3;
}

.color-cinza-1{
    color: #2b2b2b;
}

.color-cinza-2{
    color: #545454;
}

/* Chamada */

.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

/* Imagem */

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botão */

button {
    padding: 10px 20px;
    background: #0039a3;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    border: 1px solid #0039a3;
    background: #fff;
    color: #0039a3;
}

.cdd-centered {
    text-align: center;
}

/* Content */

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    min-height: 800px;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

/* Título */

.titulo{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* Box */

.box{
    width: 25%;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

/* Info */

.info{
    display: flex;
}

/* desktop-menu */

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    text-decoration: none;
    color: #0039a3;
    font-size: 18px;
}

.desktop-menu ul li a:hover{
    color: #0039a3;
    font-weight: 500;
}

/* mobile-menu */

.mobile-menu{
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #0039a3;
    display: none;
}

.mobile-menu i{
    position: absolute;
    right: 25px;
    top: 10px; 
    font-size: 23px;
    cursor: pointer;
}

.mobile-menu ul{
    display: block;
 text-align: center;
}

.mobile-menu ul li{
    list-style-type: none;
    padding: 10px 0;
}

.mobile-menu ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.mobile-menu ul li a:hover{
    color:#545454;
 }


/* button to-top */

#back-to-top{
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px 10px;
    background: #0039a3;
}

/* Scrollbar Personalizada */

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track{
    background: #fff;
}

body::-webkit-scrollbar-thumb{
    background-color: #0039a3;
    border-radius: 20px;
    border: 1px solid #fff;
}

/* Home */

#home .conteiner{
    flex-direction: column;
    justify-content: flex-start;
}

#home .right{
    flex-direction: column;
    align-items: flex-end;
}

#home .right h1{
    text-align: end;
}

#home .right h1{
    text-align: end;
    margin-top: 20px;
}

#home .right h1{
    text-align: end;
    margin-top: 20px;
}

#home .right button{
    margin-top: 30px;
}

/* about */

#about .left{
    flex-direction: column;
    align-items: flex-start;
}

#about .left span{
    margin-top: 20px;
}

#about .left h2{
    margin-top: 20px;
}

#about .left p{
    margin-top: 20px;
}

#about .left button{
    margin-top: 20px;
}

#about .right img{
    border-radius: 30px;
}

/* service */

#service .box i{
    border: 4px solid #2b2b2b;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
}

#service .box h2{
    margin-top: 20px;
    text-align: center;
}

#service .box p{
    margin-top: 20px;
    text-align: center;
}

/* menu */

#menu .box{
    background: #fff;
    border-radius: 20px;
    border: 5px solid #0039a3;
    margin: 10px;
    min-width: 200px;
}

#menu .box img{
    width: 80%;
    height: auto;
    margin-top: 20px;    
}

#menu .box h2{
    margin-top: 20px;
}

#menu .box p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #2b2b2b;        
}

#menu .box .text{
    font-size: 22px;
}

/* contact */

#contact .left{
    flex-direction: column;
    align-items: flex-end;
}

#contact .left h2{
    margin-top: 20px;
}

#contact .left p{
    margin-top: 20px;
}

#contact .left .info img{
    width: 300px;
    margin-top: 20px;
    margin-left: 90px;
    cursor: pointer;
}

#contact .right img{
    width: 50%;
    height: auto;
    margin-top: 120px;
}

/* footer */

footer .conteiner{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .conteiner img{
    width: 120px;
    object-fit: contain;
}

footer .conteiner p{
    font-weight: 600;
}

/* Responsivo */

@media screen and (max-width: 922px){

    /* Tamanho de Fontes */

.text-gd{
    font-size: 54px;
}

.text-md{
    font-size: 28px;
}

.font-pq{
    font-size: 13px;
}

.text-title{
    font-size: 18px;
}
}

@media screen and (max-width: 740px){

    /* desktop-menu */

.desktop-menu ul{
    display: none;
}

    /* mobile-menu */

.mobile-menu{
    display: block;
}

/* fontes texto */

.text-gd{
    font-size: 42px;
}

.text-title{
    font-size: 16px;
}

.titulo{
    min-height: 150px;
}

.down{
    justify-content: space-between;
    flex-direction: column;
    min-height: 600px;
}

.left{
    width: 100%;
    min-height: 300px; 
}

.right{
    width: 100%;
    min-height: 300px; 
}

.box{
    width: 95px;
}

.call{
    flex-direction: column;
}

img{
    width: 60%;
}

/* home */

#home .right{
    align-items: center;
}

#home .right h1{
    text-align: center;
}

#home .right h2{
    text-align: center;
}

#home .right p{
    text-align: center;
}

/* about */

#about .left{
    align-items: center;
}

#about .left h2{
    text-align: center;
}

#about .left p{
    text-align: center;
}

#about .right{
    text-align: center;
}

/* menu */

#menu .box img{
    width: 60%;
    margin-top: 20px;
}

#menu .box h2{
    margin-top: 10px;
}

#menu .box p{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
}

/* contact */

#contact .right img{
    margin-top: 60px;
}

/* footer */

footer .conteiner{
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
}

footer .conteiner p{
    margin-top: 20px;
}
}

@media screen and (max-width: 648px){
    
    .logo{
        width: 110px;
        top: 5px;
    }

    #about .right{
        margin-top: 80px;
    }

    #about .right{
        width: 60%;
    }

    #menu .box h2{
        font-size: 18px;        
    }

    #menu .box p{
        font-size: 14px;        
    }

    #menu .box text-md{
        font-size: 14px;        
    }


    #service .box i{
        border: 4px solid #2b2b2b;
        border-radius: 25px;
        padding: 25px;
        margin-top: 10px;
    }

    #service .box h2{
        font-size: 18px;        
    }

    #service .box p{
        font-size: 12px;        
    }

}